<form class="row">
  <div class="col-md-8">
    {{input placeholder="e.g. New York" value=input class="form-control search-input"}}
  </div>
  <div class="col-md-4">
    <button class="btn-block btn btn-primary search-button" {{action "search"}} type="submit">Search</button>
  </div>
</form>